<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.hercat.com.blog.mapper.EvilsMapper">
    <!-- evilsMapper created with Intelij platform -->
    <!--   date: 2018-12-25 14:14 -->
    <!-- author: hercat -->
    <!-- description here -->

    <resultMap id="evils" type="dev.hercat.com.blog.model.Evils">
        <id column="id" property="id"/>
        <result column="credate" property="createDate"/>
        <result column="content" property="content"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="evils.id"
            parameterType="dev.hercat.com.blog.model.Evils">
        insert into evils
        <trim prefix="(" prefixOverrides="," suffix=")">
            <if test="evils.createDate != ''">
                credate,
            </if>
            <if test="evils.content != ''">
                content
            </if>
        </trim>
        values
        <trim prefix="(" prefixOverrides="," suffix=")">
            <if test="evils.createDate != ''">
                #{evils.createDate},
            </if>
            <if test="evils.content != ''">
                #{evils.content}
            </if>
        </trim>
    </insert>

    <select id="getEvils" resultMap="evils">
        select * from evils
        limit #{pagination.start}, #{pagination.limit}
    </select>

    <select id="count" resultType="Long">
        SELECT COUNT(*) from evilss
    </select>
</mapper>
